@use "../tokens/map-colors" as tokens;

:root {
  color-scheme: light dark;

  &[data-theme="light"] { color-scheme: light; }
  &[data-theme="dark"] { color-scheme: dark; }

  // Usamos la función que ya gestiona internamente el map.get
  --bg-body: #{light-dark(tokens.get-color("neutral", "100"), tokens.get-color("neutral", "900"))};
  --text-main: #{light-dark(tokens.get-color("neutral", "900"), tokens.get-color("neutral", "100"))};
}